{% extends "my_first/accueil.html.twig" %}
{% block title %}My third's page{% endblock %}
{% block titre %}{{ parent() }} - Third{% endblock %}

{% block contenu %}<p>Une petite description de vous</p>{% endblock %}